<div class="text-center">
<h1 class="text-left remove-margin">Dashboard</h1>
</div>

<div class="col-md-6 col-lg-6">
  <%= form_tag(twitter_follow_path, method: "post") do %>
    <%= label_tag(:hashtag, "Follow users", class: "btn-block") %>
    <%= text_field_tag :hashtag, nil,placeholder: "#hashtag", class: 'form-control max-form btn-inline' %>
    <%= button_tag type: 'submit', class: "btn btn-info btn-inline" do %>
      Follow
    <% end %>
  <% end %>
  
  <%= form_tag(twitter_summary_path, method: "post") do %>
    <%= label_tag(:link, "Summarize and tweet webpage", class: "btn-block") %>
    <%= text_field_tag :link, nil, placeholder: "url", class: 'form-control max-form btn-inline' %>
    <%= button_tag type: 'submit', class: "btn btn-info btn-inline" do %>
      Summarize
    <% end %>
  <% end %>

  <%= form_tag(twitter_retweet_path, method: "post") do %>
    <%= label_tag(:retweet, "Summarize and tweet webpage", class: "btn-block") %>
    <%= text_field_tag :retweet, nil, placeholder: "#hashtag", class: 'form-control max-form btn-inline' %>
    <%= button_tag type: 'submit', class: "btn btn-info btn-inline" do %>
      Retweet
    <% end %>
  <% end %>
</div>

</div>
<div class="text-center">
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/5.embed"></iframe>
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/3.embed"></iframe>
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/7.embed"></iframe>
</div>
