<div class="text-center">
<h1 class="dashboard-word">Dashboard</h1>
</div>
<div class="text-right">
</div>
<br>
<br>
<br>
<hr>

<%= form_tag(twitter_follow_path, method: "post") do %>
  <%= label_tag(:hashtag, "hashtag:") %>
  <%= text_field_tag(:hashtag) %>
  <%= submit_tag("Follow") %>
<% end %>

<%= form_tag(twitter_summary_path, method: "post") do %>
  <%= label_tag(:link, "link:") %>
  <%= text_field_tag(:link) %>
  <%= submit_tag("Summarize") %>
<% end %>

</div>
<div class="text-center">
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/5.embed"></iframe>
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/3.embed"></iframe>
<iframe width="370" height="400" frameborder="0" scrolling="no" src="https://plot.ly/~mccurdys/7.embed"></iframe>
</div>
